/install.lock
/vault.*
/roles/geerlingguy.nodejs
/roles/geerlingguy.composer
/roles/geerlingguy.php
/roles/jaredhocutt.dconf_settings
/roles/jaredhocutt.gnome_extensions
/ansible.log
__pycache__/
/.claude/settings.local.json
