/install.lock
/vault.*
/roles/jaredhocutt.jetbrains_toolbox
/roles/geerlingguy.nodejs
/roles/geerlingguy.composer
/roles/geerlingguy.php
/roles/jaredhocutt.dconf_settings
/roles/jaredhocutt.gnome_extensions
/requirements.lock
/ansible.log
__pycache__/
