---
- name: Write /etc/sysctl.d/local.conf file
  become: true
  notify: restart systemctl
  copy:
    dest: /etc/sysctl.d/local.conf
    content: |
      vm.swappiness=5
      # phpstorm
      fs.inotify.max_user_watches = 1048576
      net.ipv4.ip_forward=1
      vm.max_map_count=262144

- name: Configure /etc/default/grub
  become: true
  notify: update grub
  blockinfile:
    path: /etc/default/grub
    marker: "### {mark} machine-config ###"
    block: |
      GRUB_TIMEOUT=10
      GRUB_CMDLINE_LINUX=""
      GRUB_CMDLINE_LINUX_DEFAULT=""
