---
- name: Add GPG key to keyring
  become: true
  shell: |
    curl -sS https://download.spotify.com/debian/pubkey_C85668DF69375001.gpg | gpg --dearmor --yes -o /usr/share/keyrings/spotify.gpg
  args:
    creates: /usr/share/keyrings/spotify.gpg

- name: Add APT repository
  become: true
  apt_repository:
    repo: 'deb [signed-by=/usr/share/keyrings/spotify.gpg] https://repository.spotify.com stable non-free'
    filename: spotify
    state: present
    update_cache: false
  notify: Update apt cache

- meta: flush_handlers

- name: Install
  become: true
  apt:
    name: [spotify-client]
