---
- name: Add php's ppa
  become: true
  shell: sudo add-apt-repository ppa:ondrej/php -y
  args:
    creates: /etc/apt/sources.list.d/ondrej-ubuntu-php-noble.sources

- name: Install php 8.3 packages
  become: true
  apt:
    name: '{{ packages }}'
  vars:
    packages:
      - php8.3-cli
      - php8.3-opcache
      - php8.3-common
      - php8.3-amqp
      - php8.3-curl
      - php8.3-fpm
      - php8.3-intl
      - php8.3-mbstring
      - php8.3-pgsql
      - php8.3-mysql
      - php8.3-redis
      - php8.3-readline
      - php8.3-sqlite3
      - php8.3-xml
      - php8.3-xdebug
      - php8.3-zip
      - php8.3-soap
      - php8.3-apcu

- name: Correct PHP version selected
  become: true
  alternatives:
    name: php
    path: /usr/bin/php8.3

- name: Write /etc/php/{{ item }}/conf.d/99-custom.ini file
  become: true
  copy:
    src: php.ini
    dest: /etc/php/{{ item }}/conf.d/99-custom.ini
  with_items:
    - 8.3/cli
    - 8.3/fpm
